/*@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700);*/
@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
  color: black;
  background-image: url('/images/chicago.jpg');
  background-size: cover;
  text-align: center;
  font-family: Oswald;
}

.transbox {
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=80);
    width: 950px;
    height: 385px;
    border-radius: 4px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#google_logo {
  height: 11%;
  width: 11%;
}

#info_para {
  font-size: 110%;
  margin-left: 10px;
  margin-right: 10px;
}

#home_button {
  color: white;
  position: absolute;
  left: 950px;
  top: 500px;
}
