/*@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700);*/
@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
  background-image: url('/images/chicago.jpg');
  background-size: cover;
  text-align: left;
  font-family: Oswald;
}

#click_for_info {
  text-align: center;
}

.results {
  color: black
  left: 10px;
  width: 300px;
  height: 587px;
  text-align: center;
}

.transbox {
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=80);
    float: left;
    width: 300px;
    height: 587px;
    border-radius: 4px;
    overflow: scroll;
}

#map-canvas {
  height: 427px;
  width: 1040px;
  position: absolute;
  top: 238px;
  left: 384px;
  border-radius: 4px;
  float: right;
}

#things_to_do {
  color: white;
  text-indent: 90px;
}

#selection_button{
  height: 60px;
  width: 20
  0px;
}
.info_box {
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=80);
    position: absolute;
    left: 384px;
    top: 75px;
    height: 140px;
    width: 1040px;
    border-radius: 4px;
    float: right;
    overflow: scroll;
}

#about_button {
  color: white;
  float: right;
  margin-top: 695px;
  margin-right: 10px;
}
#fav_button {
  color: white;
  float: right;
  margin-top: 695px;
  margin-right: 110px;
}

#home_button {
  color: white;
  float: right;
  margin-top: 695px;
  margin-right: 10px;
}

#google {
  position: absolute;
  right: 15px;
  top: 15px;
}
