@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700);

body {
  background-image: url('/images/chicago.jpg');
  background-size: cover;
  text-align: left;
  font-family: Playfair Display;
}

#things_to_do {
  color: white;
  text-indent: 90px;
}

.results {
  color: black
  left: 10px;
  height: 300px;
  width: 300px;
  text-align: center;
}

.transbox {
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
    position: absolute;
    left: 10px;
    width: 300px;
    padding: 10px;
    border-radius: 4px;
}

#map-canvas {
  height: 360px;
  width: 640px;
  margin-top: 52px;
  padding-top: 0px;
  border-radius: 4px;
  float: right;
}
