<!DOCTYPE html>
<html>
  <head>
    <title>Event Coordinator</title>
    <link href='stylesheets/style.css' type='text/css' rel='stylesheet'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
    <script src='scripts/buttons.js'></script>
  </head>
  <body>
    <h1 id="ask">ASK</h1>
    <img src="images/star-xxl.png" id="star"></img>
     <h1 id="jim">JIM</h1>
    <div class="transbox">

      <br />
      <br />
    <form method='get' action="selections">
      <div id='form_backdrop'>
        Input the number of people in your group
        <input type="number" name="number_of_people" min="1" value="1" id='number_of_people'>

        <br />

        Radius (Meters)

        <input type="number" name="radius" min="1" max="50000" value="500" id="radius_box">
        <button name='number_of_people_button' type='button' onclick='getData()' id="next_button">Next</button>

        <br />

        <div id="interest_options">
        <p>Select something that you would like to do</p>
        <select id='interest' value='Interest' name='interest' class='drop_down'></select>
        <p><input type='submit' id='myButton'>
        </div>
      </div>
    </form>

    <form action="logout">
      <input type="submit" value="Logout" name="logout_button">
    </form>
  </div>
    <a href="/about" id="about_button">About</a>
    <a href='/favorites' id="fav_button">Favorites</a>
  </body>
</html>
