<!DOCTYPE html>
<html>
  <head>
    <title>Event Coordinator</title>
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <form method="get" action="selections">
      <div id="form_backdrop">
        <p>Select the number of people in your group</P>
        <select list="number_of_people" value="Number of People" name="number_of_people" class="drop_down">
        <datalist id="number_of_people">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </datalist>
      </select>
      <p>Select something that you would like to do</p>
      <select list="interest" value="Interest" name="interest" class="drop_down">
      <datalist id="interest">
        <option value="Amusement_park">Amusement Park</option>
        <option value="Aquarium">Aquarium</option>
        <option value="Bar">Bar</option>
        <option value="Food">Food</option>
        <option value="Bowling_alley">Bowling Alley</option>
        <option value="Campground">Campground</option>
        <option value="Casino">Casino</option>
        <option value="Cemetery">Cemetery</option>
        <option value="Gym">Gym</option>
        <option value="Liquor_store">Liquor Store</option>
      </datalist>
    </select>
    </div>
      <p><input type="submit" id="myButton" >
    </form>

  </body>
</html>
