<!DOCTYPE html>
<html>
  <head>
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0;
        padding: 0;
      }

    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="scripts/places.js"></script>
  </head>
  <body>
      {% for result in results %}
      <h2>{{result.name}}</h2>
      {%endfor%}
      <div id="map-canvas"></div>
  </body>
</html>
