<!DOCTYPE html>
<html>
  <head>
    <title>Event Coordinator</title>
    <link href="stylesheets/selections.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="scripts/places.js"></script>
  </head>
  <body>
    <div id="map-canvas"></div>
    <a href="/about" id="about_button">About</a>
    <a href="/" id="home_button">Home</a>
    <h2 id="things_to_do">Things To Do:</h2>
    <div class="background, transbox" id="container">
        <h2 class="results" id="place_list"></h2>
    </div>
    <div>
      <h2 id="info_box"></h2>
    </div>
    <a href="https://www.google.com"><img src="images/powered-by-google-on-non-white.png" id="google"></img></a>
  </body>
</html>
